/*Header with logo and log in sign up buttons*/
#header {
	width: 100%;
	padding-bottom: 100px;
}

.trippin-logo {
	font-family: 'Biryani', sans-serif;
	text-align: left;
	margin-left: 40px;
}

#login-buttons {
	margin-right: 40px;
	float: right;
}

button {
	font-size: 16px;
	background-color: #1B1464;
	color: white;
	border: none;
	padding: 15px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 5px;
}

button:hover {
	background-color: #130e48;
}

button:active {
	background-color: #130e48;
	transform: translateY(2px);
}

/*footer with citation*/

#footer {
	font: 10px;
	width: 100%;
	color: white;
	position: fixed;
	bottom: 0;
}


