<<<<<<< HEAD
body {
    background: orange;
    color: #fff;
}
.event {
	display: flex;
	position: relative;
	padding: 5px;
}
.glyphicon {
    float: left;
    vertical-align: text-bottom;
}
.thumbnail {
	margin: 0 10px 0;
}
.input[type=text] {
	display: inline-block;
	position: relative;
	margin: auto;
	max-width: 100%;
	border: 1px solid;
	border-radius: 4px;
	font-size: 24px;
	padding: 8px;
}
=======
#header {
	width: 100%;
	background-color: white;
}

.trippin-logo {
	font-family: 'Biryani', sans-serif;
	text-align: left;
	margin-left: 40px;
}

#login-buttons {
	margin-right: 40px;
	float: right;
}

button {
	font-size: 16px;
	background-color: #1B1464;
	color: white;
	border: none;
	padding: 15px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 5px;
}

button:hover {
	background-color: #130e48;
}

button:active {
	background-color: #130e48;
	transform: translateY(2px);
}

#footer {
	font: 10px;
	width: 100%;
	color: gray;
	position: fixed;
	bottom: 0;
}




>>>>>>> 8b9fc7f7c23befb1e30f04af7d052057032921d5
