img {
	z-index: -2;
	position: fixed;
	max-width: 100%;
}

.trippin-logo {
	background: none;
	z-index: 1;
}

#search {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

input[type=text] {
	border: 1px solid;
	border-radius: 4px;
	font-size: 24px;
	padding: 8px;
}

input[type=submit] {
	font-size: 24px;
	background: #F7931E;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px;
}

input[type=submit]:hover {
	background: #e77f08;
}

input[type=submit]:active {
	background: #e77f08;
	transform: translateY(2px);
}