


/*Input date range*/
input[type=text] {
	border: solid black 1px;
	border-radius: 5px;
	padding: 5px;
	color: #d1d1e0
}

#item-name {
	float:left;
}

/*Interests and Ratings Dropdown*/
#for-select {
	float:left;
	margin-left: 5px;
	margin-right: 5px;
}

#submit-btn {
	float:left;
}

select{
	border: solid black 1px;
	border-radius: 5px;	
	padding: 5px;
	font-family: helvetica, sans-serif;
	color: #d1d1e0;
}

/*Filter Button*/
input[type=submit] {
	background: #F7931E;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

input[type=submit]:hover {
	background: #e77f08;
}
input[type=submit]:active {
	background: #e77f08;
	transform: translateY(2px);
}


/*Calendar Button*/
.delete {
	font-size: 14px;
	margin-top: 0px;
	margin-left: 0px;	
	border: none;
	padding: 5px;
	background-color: white;
	color: black;
}

.delete:hover {
	border: 1px black;
	background-color:#d1d1e0;
}

.delete:active {
	background-color:#d1d1e0;
	transform: translateY(2px);
}

.events-list{
	clear:both;
	position: fixed;
	top: 50%;
}